@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap");
@import url(./reset.css);
@import url(./variables.css);
@import url(./work_style.css);

body {
  font-family: "Open Sans", sans-serif;
  font-weight: var(--light);
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--size_md);
}

ul {
  display: flex;
}

li {
  font-size: var(--size_lg);
  font-weight: var(--semiBold);
  color: var(--fg_primary__alt);
  margin: var(--size_lg);
}

nav > ul > li > a:hover {
  border-bottom: 4px solid var(--fg_primary__alt);
  cursor: pointer;
}

.note {
  background-color: var(--bg_secondary);
  width: 100%;
}

.note h1 {
  text-align: center;
  text-transform: uppercase;
  color: var(--fg_secondary);
  font-size: var(--size_lg);
  font-weight: var(--semiBold);
  padding: var(--size_md);
}

.hero > figure > img {
  width: 100%;
}

.find_your_style_header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--size_bigger_xl);
  font-weight: var(--semiBold);
  margin: var(--size_xxl);
}

.find_your_style_images {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: var(--size_bigger_xl);
}

.discounts {
  background-color: var(--bg_secondary);
  color: var(--fg_secondary);
}

.discounts_header {
  font-size: var(--size_bigger_lg);
  font-weight: var(--extraBold);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--size_xl);
}

.discounts_block {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: var(--size_xl);
  padding: var(--size_xl);
}

.dicounts_block__all_discounts {
  background-color: var(--bg_primary);
  color: var(--fg_primary);
  font-weight: var(--semiBold);
  padding-bottom: var(--size_md);
}

.dicounts_block__all_discounts > h4,
span {
  font-size: var(--size_sm);
  padding: 0.6rem var(--size_sm);
}

.product_highlight {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.product_highlight__header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: var(--size_lg);
  font-weight: var(--semiBold);
  padding: var(--size_bigger_xxl);
}

.product_highlight__header a {
  display: inline;
  background-color: var(--bg_secondary);
  color: var(--fg_secondary);
  margin: var(--size_lg) 0;
  text-align: center;
  padding: var(--size_md);
  width: 50%;
}

.product_highlight_header__left_image {
  margin-top: var(--size_xxl);
}

footer {
  background-color: var(--bg_secondary);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: var(--size_xl);
}

footer > section {
  width: 20%;
}

.footer_nav_categories ul {
  display: inline-block;
  line-height: var(--size_xs);
}

.footer_nav_categories li {
  color: white;
  font-size: var(--size_md);
}

.footer_nav_categories a {
  font-weight: var(--light);
}

@media screen and (max-width: 768px) {
  /* body {
    overflow-x: auto;
  } */

  header > figure > img {
    width: var(--size_bigger_xxl);
  }

  nav {
    display: none;
  }

  .bar_menu {
    background-image: url("../img/bar_menu.png");
    background-repeat: no-repeat;
    width: var(--size_xl);
    height: var(--size_xl);
  }

  .find_your_style_header {
    display: block;
    text-align: center;
    font-size: var(--size_lg);
  }

  .find_your_style_img1 {
    width: 12rem;
    height: 12rem;
    padding: var(--size_md);
  }

  .find_your_style_img2 {
    width: 15rem;
    height: 15rem;
  }

  .discounts_header {
    font-size: var(--size_lg);
    font-weight: var(--semiBold);
  }

  .discounts_block {
    flex-wrap: wrap;
  }

  .discounts_block > article {
    margin: var(--size_lg);
  }

  .product_highlight {
    display: block;
  }

  .product_highlight__header {
    display: block;
    font-size: var(--size_lg);
    padding: var(--size_md);
    text-align: center;
  }

  .product_highlight__header a {
    display: block;
    font-size: var(--size_md);
    margin: var(--size_md) auto;
    text-align: center;
  }

  .product_highlight_header__image img {
    width: 50%;
    height: 50%;
  }

  .first_image {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: var(--size_xs);
  }

  .second_image {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: var(--size_sm);
  }

  footer {
    margin-top: var(--size_md);
  }

  footer > section {
    width: 100%;
  }
}
